* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
}

.container {
    background-color: #141414;
    width: 1440px;
    margin: auto;
}

header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 33px;
}

.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

.menu a:hover {
    color: rgba(17, 141, 168, 1);
}

.hero {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 650px;
    height: 873.44px;
    margin-left: 50px;
    margin-top: 40px;
}

.content {
    max-width: 500px;
    margin-right: 160px;
}

.content .text {
    font-size: 70px;
    font-weight: 400;
    color: white;
    line-height: 88px;
    margin-top: 300px;
    margin-bottom: 80px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
}

.content .text span {
    font-size: 75px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content p {
    font-size: 15px;
    letter-spacing: 3px;
}

.content b {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.listen {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.platforms {
    margin-top: 20px;
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 13px;
}

.next {
    background: url(lineNext.svg);
}

.box123 {
    margin: auto;
    height: 2088px;
}

.sigma {
    display: flex;
}

.episode {
    width: 513px;
    font-size: 64px;
    margin-left: 70px;
    margin-top: 93px;
    white-space: nowrap;
    margin-bottom: 66px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 5px;
}

.button1 {
    width: 178px;
    height: 51px;
    background-color: rgba(17, 141, 168, 1);
    border-style: solid;
    border-radius: 6px;
    color: white;
    margin-top: 113px;
    margin-left: 609px;
    font-size: 17px;
    line-height: 27px;
    white-space: nowrap;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.box1 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 545px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
}

.card-content1 {
    width: 778px;
    height: 465px;
}

.Episode3 {
    width: 389px;
    height: 465px;
    margin-left: 40px;
    padding-top: 40px;
}

.gear {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    width: 73px;
    height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    border: none;
    text-align: center;
    align-content: center;
    font-size: 18px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.episode3 {
    color: rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main-text {
    font-size: 64px;
    line-height: 70px;
    margin-top: 18px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.5px;
}

.text1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.button2 {
    width: 208px;
    height: 51px;
    border-radius: 6px;
    border: none;
    background-color: rgba(17, 141, 168, 1);
    margin-top: 18px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.box2 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
    margin-top: 60px;
}

.Episode2 {
    width: 389px;
    height: 432px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tips {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    width: 136px;
    height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    border: none;
    text-align: center;
    align-content: center;
    font-size: 17px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.episode2 {
    color: rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main-text2 {
    font-size: 64px;
    line-height: 70px;
    margin-top: 17px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.5px;
}

.text2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.box3 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
    margin-top: 60px;
}

.Episode1 {
    width: 389px;
    height: 432px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.episode1 {
    color: rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main-text1 {
    font-size: 57px;
    line-height: 70px;
    margin-top: 17.5px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.5px;
}

.text3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.gear1 {
    background-color: rgba(25, 25, 25, 1);
    font-size: 18px;
    line-height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    width: 73px;
    height: 27px;
    border: none;
    text-align: center;
    align-content: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.box4 {
    width: 1440px;
    height: 943px;
    display: flex;
    gap: 60px;
}

.circle {
    flex-direction: row;
    margin-top: 248px;
    margin-left: 70px;
}

.text-content {
    color: rgba(17, 141, 168, 1);
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.jacob {
    font-size: 65px;
    line-height: 79.2px;
    width: 496px;
    height: 80px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;
}

.text-jacob1 {
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 28px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.text-jacob2 {
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 33px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main-image {
    width: 650px;
    height: 743px;
    margin-top: 100px;
    margin-left: 50px;
}

.box5 {
    width: 1300px;
    height: 587px;
}

.box6 {
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 100px;
    margin-left: 75px;
    gap: 76px;
    display: flex;
}

.container1 {
    width: 642px;
    height: 330px;
}

.email {
    color: rgba(17, 141, 168, 1);
    font-size: 18px;
    line-height: 27px;
    padding-top: 59px;
    margin-left: 60px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-info {
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 3px;
    margin-left: 60px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lines {
    position: relative;
    top: 78px;
    right: 38px;
}

.container2 {
    width: 522px;
    height: 252px;
    margin-top: 59px;
}

.name2 {
    width: 522px;
    height: 82px;
    border: 1px;
    border-radius: 6px;
    background-color: rgba(25, 25, 25, 1);
    padding-top: 26px;
    padding-left: 19px;
}

.name2-1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    line-height: 29px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.email2 {
    width: 522px;
    height: 82px;
    border: 1px;
    border-radius: 6px;
    background-color: rgba(25, 25, 25, 1);
    padding-top: 26px;
    padding-left: 19px;
    margin-top: 20px;
}

.email2-1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    line-height: 29px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.submit {
    background-color: rgba(17, 141, 168, 1);
    border-radius: 6px;
    width: 87px;
    height: 48px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    border: none;
    margin-top: 20px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.box7 {
    width: 1440px;
    height: 901px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item1 {
    width: 423px;
    height: 321px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
}
.item2 {
    width: 423px;
    height: 321px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
}

.item3 {
    width: 423px;
    height: 321px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
}
.stars-container {
    display: flex;
    justify-content: start;
    gap: 5px;
    margin-top: 54px;
    margin-left: 50px;
}
.stars {
    gap: 0; 
    height: 17px;
    width: 18px;
}
.main-text3 {
    font-size: 36px;
    line-height: 43px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 21px;
    margin-left: 50px;
}
.text-1 {
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 19px;
    margin-left: 50px;
}
.item4 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 200px;
}
.item5 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
}
.item6 {
    width: 423px;
    height: 364px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
}
.box8 {
    width: 1400px;
    height: 438px;
    display: flex;
    gap: 16px;
}
.container-1 {
    width: 447px;
    height: 222px;
    margin-left: 70px;
}
.container-2 {
    margin-top: 20px;
}
.logo2 {
    margin-left: 7px;
}
.container-3 {
    width: 178px;
    height: 222px;
}
.items {
    font-size: 17px;
    line-height: 27px;
    margin: 10px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.container-4 {
    width: 178px;
    height: 222px;
}
.items2 {
    font-size: 17px;
    line-height: 27px;
    margin: 10px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    white-space: nowrap;
}
.container-5 {
    width: 447px;
    height: 32px;
    display: flex;
    gap: 17px;
}