* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
    color: white;
}
.container {
    background-color: #141414;
    width: 1440px;
    margin: auto;
}
header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 160px;
    height: 33px;
}
.menu {
    display: flex;
    gap:40px;
    list-style-type: none;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}
.menu a:hover {
    color: rgba(17, 141, 168, 1);
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.image {
    width: 650px;
    height: 873.44px;
}
.content {
    max-width: 500px;
}
.content .text {
    font-size: 70px;
    font-weight: 400;
    color:white;
    line-height: 88px;
    margin-top: 300px;
    margin-bottom: 80px;
}
.content .text span {
    font-size: 75px;
    font-weight: 400;
}
.content p {
    font-size: 15px;
    font-weight: 400;
}
.platforms {
    margin-top: 20px;
}
.icons {
    width: 32px;
    height: 32px;
    margin-right: 13px;
}
.next {
    background: url(lineNext.svg);
}
.sigma {
    display: flex;
}
.episode {
    width: 513px;
    font-size: 64px;
    margin-left: 70px;
    margin-top: 93px;
    white-space: nowrap;
    margin-bottom: 66px;
    font: 4em sans-serif;
}
.button1 {
    width: 178px;
    height: 51px;
    background-color: rgba(17, 141, 168, 1);
    border-style: solid;
    border-radius: 6px;
    color: white;
    margin-top: 113px;
    margin-left: 637px;
    font-size: 17px;
    line-height: 27px;
    white-space: nowrap;
}
.box123 {
    margin: auto;
    height: 2088px;
}
.box1 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 545px;
    margin-left: 102px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
}
.card-content1 {
    width: 778px;
    height: 465px;
}
.Episode3 {
    width: 389px;
    height: 465px;
    margin-left: 40px;
    padding-top: 40px;  
}
.gear {
    background-color: rgba(25, 25, 25, 1);
    color: white    ;
    width: 73px;
    height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    border: none;
    text-align: center;
    align-content: center;
    font-size: 18px;
    line-height: 27px;
}
.episode3 {
    color:rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
}
.main-text {
    font-size: 64px;
    line-height: 70px;
    margin-top: 18px;
}
.text1 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
}
.button2 {
    width: 208px;
    height: 51px;
    border-radius: 6px;
    border: none;
    background-color: rgba(17, 141, 168, 1);
    margin-top: 18px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    
}
.box2 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    margin-left: 102px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
    margin-top: 60px;
}
.Episode2 {
    width: 389px;
    height: 432px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.tips {
    background-color: rgba(25, 25, 25, 1);
    color: white;
    width: 136px;
    height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    border: none;
    text-align: center;
    align-content: center;
    font-size: 17px;
    line-height: 27px;
}
.episode2 {
    color:rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
}
.main-text2 {
    font-size: 64px;
    line-height: 70px;
    margin-top: 17px;
}
.text2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
}
.box3 {
    background-color: rgba(0, 0, 0, 1);
    width: 1300px;
    height: 512px;
    margin-left: 102px;
    margin-right: 70px;
    border-radius: 32px;
    display: flex;
    gap: 53px;
    margin-top: 60px;
}
.Episode1 {
    width: 389px;
    height: 432px;
    margin-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.episode1 {
    color:rgba(17, 141, 168, 1);
    margin-top: 48px;
    font-size: 17px;
    line-height: 27px;
}
.main-text1 {
    font-size: 57px;
    line-height: 70px;
    margin-top: 17.5px;
}
.text3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    line-height: 33px;
    margin-top: 28px;
}
.gear1 {
    background-color: rgba(25, 25, 25, 1);
    font-size: 18px;
    line-height: 27px;
    margin-top: 48px;
    border-radius: 6px;
    width: 73px;
    height: 27px;
    border: none;
    text-align: center;
    align-content: center;
}
.box4 {
    width: 1440px;
    height: 943px;
    display: flex;
    gap: 60px;
}
.circle {
    flex-direction: row;
    margin-top: 408px;
    margin-left: 70px;
}
.svg {
    transform: rotate(270deg);
}
.text-content {
    color: rgba(17, 141, 168, 1);
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
}
.jacob {
    font-size: 65px;
    line-height: 79.2px;
    width: 496px;
    height: 80px;
}
.text-jacob1 {
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 28px;
}
.text-jacob2 {
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 33px;
}
.main-image {
    width: 650px;
    height: 743px;
    margin-top: 260px;  
}
.box5 {
    width: 1300px;
    height: 587px;
}
.box6 {
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 1);
    margin: auto;
    margin-top: 100px;
}