* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.siteContainer {
    width: 1440px;
    margin: auto;
}

.container {
    width: 1440px;
    height: 100px;
    background-color: rgba(225, 237, 230, 1);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 143px;
    height: 35px;
    margin-left: 165px;
    display: flex;
    gap: 8px;
}

.text1 {
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    margin: auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.box2 {
    width: 470px;
    height: 24px;
    display: flex;
    gap: 59px;
    margin-right: 165px;
}

.text2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
}

.img2 {
    display: none;
}

@media (max-width: 1440px) {
    .siteContainer {
        width: 768px;
        margin: auto;
    }
    .container {
        width: 768px;
        height: 100px;
    }
    .box1 {
        margin-left: 39px;
    }
    .box2 {
        margin-right: 39px;
        gap: 55px;
    }
}

@media (max-width: 690px) {
    .siteContainer {
        width: 576px;
        margin: auto;
    }
    .container {
        width: 576px;
        height: 123px;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .line {
        width: 510px;
        border: 1px solid rgba(195, 209, 198, 1);
    }
    .img {
        margin-left: 25px;
    }
}

@media (max-width: 510px) {
    .siteContainer {
        width: 320px;
        margin: auto;
    }
    .container {
        width: 320px;
        height: 130px;
        background: linear-gradient(to bottom , white 50% , rgba(225, 237, 230, 1) 50%);
    }
    .line {
        display: none;
    }
    .text2 {
        display: none;
    }
    .img2 {
        display: block; 
    }
    .box2 {
        width: 320px;
        margin-right: 0;
        gap: 0;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
    }
    .box1 {
        margin-left: 0;
    }
}
.container2 {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 66px;
}
span {
    color: rgba(89, 141, 102, 1);
}
.text3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: rgba(134, 146, 139, 1);
    margin-bottom: 60px;
    line-height: 27px;
}
.box3 {
    width: 225px;
    height: 65px;
    border: 1px solid rgba(89, 141, 102, 1);
    align-items: center;
    display: flex;
    justify-content: center;
}
.box-info {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: rgba(89, 141, 102, 1);
}
.main-text {
    width: 540px;
    height: 331px;
}

@media (max-width: 1440px) {
    .siteContainer {
        width: 768px;
        margin: auto;
    }
    .container2 {
    padding-left: 39px;
    padding-right: 39px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    } 
    .photo img {
    width: 330px;
    height: 380px;
    }
    .info3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    }
    .text3 {
        margin-bottom: 40px;
    }
    .box3 {
    width: 210px;
    height: 60px; 
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .main-text {
        width: 330px;
        height: 308px;
    }
    .container2 {
        height: 380px;
    }
}

@media (max-width: 690px) {
    .siteContainer {
        width: 576px;
        margin: auto;
    }
    .container2 {
    padding-left: 33px;
    padding-right: 33px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .photo img {
    width: 195px;
    height: 239px;
    }
    .info3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 36px;
    }
    .text3 {
    margin-bottom: 11px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    }
    .box3 {
    width: 178px;
    height: 50px; 
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .main-text {
        width: 285px;
        height: 239px;
    }
    .container2 {
        height: 239px;
        margin-top: 50px;
    }
    .box-info {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    }
}

@media (max-width: 510px) {
    .siteContainer {
        width: 320px;
        margin: auto;
    }
    .photo {
        display: none;
    }
    .main-text {
        width: 290px;
        height: 233px;
    }
    .info3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    }
    .text3 {
    margin-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    }
    .box-info {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    }
}