* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.siteContainer {
    width: 1440px;
    margin: auto;
}

.container {
    width: 1440px;
    height: 100px;
    background-color: rgba(225, 237, 230, 1);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 143px;
    height: 35px;
    margin-left: 165px;
    display: flex;
    gap: 8px;
}

.text1 {
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.box2 {
    width: 470px;
    height: 24px;
    display: flex;
    gap: 59px;
    margin-right: 165px;
}

.text2 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
}

@media (max-width: 1440px) {
    .siteContainer {
        width: 690px;
        margin: auto;
    }
    .container {
        width: 768px;
        height: 100px;
    }
    .box1 {
        margin-left: 39px;
    }
    .box2 {
        margin-right: 39px;
        gap: 55px;
    }
}

@media (max-width: 690px) {
    .siteContainer {
        width: 510px;
        margin: auto;
    }
    .container {
        width: 576px;
        height: 123px;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .line {
        width: 510px;
        border: 1px solid rgba(195, 209, 198, 1);
    }
    .img {
        margin-left: 25px;
    }
}

@media (max-width: 510px) {
    .siteContainer {
        width: 340px;
        margin: auto;
    }
    .container {
        width: 320px;
        height: 130px;
        background: linear-gradient(to bottom , white 50% , rgba(225, 237, 230, 1) 50%);
    }
    .line {
        display: none;
    }
    .text2 {
        display: none;
    }
    .box1 {
        margin: auto;
    }
    .img {
        margin: auto;
    }
}